html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.main-div{
    height: 100dvh;
    scroll-snap-type: y mandatory; /* 启用垂直滚动捕捉 */
    overflow-y: scroll;            /* 启用垂直滚动 */
    scroll-behavior: smooth;       /* 平滑滚动效果 */
    scroll-snap-align: start; 
    overflow: auto;
}

.avatar-area-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    justify-content: center;
}
.ava-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myname-text {
    font-size: 3.5rem;
}
.myname-text .gradient-text{
    background-image: linear-gradient(to right, #45e855f2, #62c6e7ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.ava-img-round {
    border-radius: 50%;
    margin-block: 0;
    max-width: 240px;
    max-height: 240px;
}
.info-text-div {
    font-size: 1.2rem;
    text-align: center;
    max-width: 25rem;
}
.info-area-div {
    margin: 0 auto 0 auto;      /* 水平居中 */
    padding-left: 2vw;          /* 左侧弹性空距，vw为视口宽度百分比 */
    padding-right: 2vw;         /* 右侧留点空间，防止溢出 */
    scroll-snap-align: start;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* 垂直居中 */

}   
.info-div {
    display: flex;

    flex-direction: row;        /* 横向排列 */
    flex-wrap: wrap;
    align-items: flex-start;    /* 顶部对齐 */

    justify-content: center;    /* 主轴居中 */

    max-height: max-content; /* 根据内容自动调整高度 */
    /* 让盒子相较于info-area居中 */
    margin-left: 8rem;          /* 左侧空距，防止贴边 */
    margin-right: 8rem;
    text-align: left;           /* 左对齐 */
    padding-bottom: 10vh;    /* 底部留点空间，防止溢出 */
}
.info-box-div {
    margin-right: 4rem;         /* 每个信息块之间的间距 */
    max-width: 20rem;           /* 限制信息块的最大宽度 */
    max-height: max-content; /* 根据内容自动调整高度 */
    min-width: 6rem;           /* 限制信息块的最小宽度 */
    margin-inline: 2.5rem;
}
.info-div a{
    color: #218dff;
    text-decoration: none; /* 去掉原有的下划线 */
}
.info-div a:hover {
    color: #0056b3; /* 鼠标悬停时的颜色 */
    text-decoration: none; /* 鼠标悬停时不显示下划线 */
    border-bottom: 2px solid #0056b3; /* 鼠标悬停时的下划线颜色 */
}
.info-div a:active {
    color: #28a745; /* 鼠标点击时的颜色 */
    border-bottom: 2px solid #28a745; /* 鼠标点击时的下划线颜色 */
}
.info-div ul li {
    margin-top: 0.8em; /* 调整这个值来改变空行的大小 */
}
.info-div ul{
    padding-left: 0em; /* 调整这个值来改变列表项的缩进 */
    list-style: none;
}


.footer-div {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.75rem;
    color: #6c757d;
    scroll-snap-align: end; /* 底部吸附 */
    padding: 5vh;
}
.footer-div a{
    color: #6c757d;
    text-decoration: none;
}
.footer-div p{
    margin-block: 0.5em;
}


/* 添加深色模式样式 */
@media (prefers-color-scheme: dark) {
    body{
        background-color: #2e2e2e;
        color: #fff;
    }
}

/* 添加小设备样式 */
@media (max-width: 480px) {
    .myname-text {
        font-size: 2.5rem;
        margin-top: 0.8rem;
    }
    .ava-div {
        align-items: center;
    }
    .info-text-div {
        font-size: 1rem;
        max-width: 90vw;
    }
    .info-div {
        margin-left: 1.6rem;
        font-size: 1rem;
        padding-bottom: 7dvh;
    }
    .ava-img-round {
        width: 40vw;
        height: 40vw;
    }
}

@media (orientation: landscape) {
    .ava-img-round {
        width: 38vh;
        height: 38vh;
    }
}

@media (max-height: 480px) {
    .myname-text {
        font-size: 2.5rem;
        margin-block:  0.8rem;
    }
    .ava-div {
        align-items: center;
    }
    .info-text-div {
        font-size: 1rem;
        max-width: 90vw;
    }
    
}